@import url('fonts/stylesheet.css');
:root {
    --white: #fff;
    --black: #000;
    --linear-one: #9e8eff;
    --linear-two: #4bd7d8;
    --circles-bg: #fbb323;
    --btn-primary: #ee0979;
    --btn-primary-hover: #bd0760;
    --btn-secondary: #ff6a00;
    --btn-secondary-hover: #c50;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'TIAS';
    width: 100%;
    height: 100%;
}

/* SCROLLBAR CSS3 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--btn-primary);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--circles-bg);
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800!important
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem
}

.bg-black {
    background-color: var(--black)!important
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000000b3;
}

.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 700
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem
}

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background: linear-gradient(0deg, var(--linear-one) 0, var(--linear-two) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background-color: var(--circles-bg);
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%
}

@media (min-width:992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem
    }
    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem
    }
    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem
    }
}

.bg-primary {
    background-color: var(--btn-primary) !important
}

.btn-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: var(--btn-primary-hover) !important;
    border-color: var(--btn-primary-hover) !important
}

.btn-secondary {
    background-color: var(--btn-secondary);
    border-color: var(--btn-secondary);
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: var(--btn-secondary-hover) !important;
    border-color: var(--btn-secondary-hover)!important
}

.scroll-downs {
    position: absolute;
    top: 75%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.wrap img {
    width: auto;
    height: 100px;
    margin: 0px 0 0 -15px;
    line-height: 0px;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
}

@media (max-width:500px) {
    .wrap img {
        display: none;
    }
}

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    5.55556% {
        transform: translateY(0);
    }
    11.11111% {
        transform: translateY(0);
    }
    22.22222% {
        transform: translateY(-15px);
    }
    27.77778% {
        transform: translateY(0);
    }
    33.33333% {
        transform: translateY(-15px);
    }
    44.44444% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

section, .title {
    padding-top: 5%;
    margin-bottom: 5%;
}

img {
    padding-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    border-radius: 2%;
}

ul {
    list-style: none;
}

.vbox-close {
    width: 30px;
}

.client {
    transition: 1s;
    filter: grayscale(100%);
}

.client:hover {
    transition: 1s;
    transform: scale(.9);
    filter: grayscale(0%);
}

@media (max-width:500px) {
    .client {
        transition: 1s;
        filter: grayscale(0%);
    }
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 #0000004d;
        background-color: #f0f0f0;
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

label {
    padding-top: 1%;
    margin-bottom: 1%;
}

/* .parallax-small{
    height: 450px;
    background-image: url('../img/p1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-small h2{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
} */

.icofont-instagram, .icofont-twitter, .icofont-facebook {
    font-size: 35px;
}

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #7cc576;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #61b959;
    color: #fff;
}

@media (max-width: 500px) {
    .back-to-top {
        position: fixed;
        right: 15px;
        bottom: 15px;
        z-index: 99999;
    }
}

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffffe6;
    -webkit-box-shadow: 0px 24px 64px #0000003d;
    box-shadow: 0px 24px 64px #0000003d;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: var(--circles-bg);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}